{% extends "src/njc/layout.njc" %}
{% block content %}
<div class="preview">
	<div class="container preview__container">
		<header class="preview__header">
			<div class="logo">
				<div class="logo__imgbox">
					<img class="logo__img" src="images/logo.png" alt="Логотип Атмосферы тепла">
				</div>
				<span class="logo__name">
					Атмосфера тепла
				</span>
			</div>
			<div class="preview__phone">
				+7 (495) 765-21-31
			</div>
		</header>
		<div class="preview__info">
			<h1 class="title title--xxl">
				Antifrogen® - ваша система отопления
				достойна лучшего теплоносителя
			</h1>
			<div class="preview__description">
				<p>
					Cрок службы 20 лет, немецкое качество,
					экономичность, сохраняется гарантия на Ваш котел
				</p>
			</div>
		</div>
		<div class="preview__footer">
			<button id="button-action" class="button button--xxl button--blue">
				участвуй в акции
			</button>
			<span class="preview__footer-slogan">
				Каждый 100-й покупатель получает купон в магазин «ИКЕА» на 5000 рублей.
				Купи Антифроген и участвуй в акции!
			</span>
		</div>
	</div>
	<div id="modal-action" class="modal modal--l">
		<div class="modal__box">
			<div class="modal__inner">
				<header class="modal__header">
					<h2 class="title modal__title">
						Оставьте свои контакты и получите скидку 50% на доставку в пределах МКАД
					</h2>
					<button class="button modal__close js-modal-close">close modal</button>
				</header>
				<div class="modal__content">
					<form class="form-checkout form-checkout--action" method="get" action="#0">
						<label class="field form-checkout__row">
							<input class="field__input" placeholder="ФИО" required>
						</label>
						<label class="field form-checkout__row">
							<input class="field__input" placeholder="Телефон" required>
						</label>
						<div class="form-checkout__footer">
							<button class="button button--xl button--burgundy form-checkout__button">отправить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<section id="antifrogen-n" class="section section--bg-sieve-blue">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-white section__title section__title--bevel">Antifrogen® N</h2>
		</div>
	</header>
	<div class="container section__info">
		<h3 class="title title--xl section__subtitle">Антифроген® Н</h3>
		<div class="section__description">
			<span class="section__description-name">Описание</span>
			<p>
				Антифроген ® N представляет собой жидкость , бледно -жёлтого оттенка ; предназначен для использования в
				качестве
				теплоносителя в закрытых системах водяного отопления , тепловых насосах и как охлаждающий рассол в
				промышленном
				холодильном оборудовании Antifrogen® N был разработан для использования в качестве теплоносителя и
				охлаждающей
				жидкости.
			</p>
			<p id="description-aside-n" class="section__description-aside">
				Антифризные свойства продукта основаны на
				применении моноэтиленгликоля , имеющего высокую температуру кипения –
				около 198 º С, что предотвращает потери жидкости в результате испарения .
				Продукт ингибируют без использования нитритов -, аминов, боратов-, силикатов и
				фосфатов . Оптимизация системы ингибирования коррозии была выполнена без
				использования CMR-веществ (канцерогенные , мутагенные , репротоксичные -
				вещества ). Преимущество использования продукта Antifrogen N в замкнутых
				системах отопления горячей водой состоит в том , что всю систему целиком или
				отдельные ее части можно выключать даже при температурах ниже нуля ;
				включить же такие системы можно в любое время.
			</p>
		</div>
		<button id="button-n" class="button section__description-button">Подробно</button>
		<div class="section__aside">
			<div class="section__product">
				<div class="section__imgbox">
					<img class="section__img" src="images/antifrogen-n.png" alt="Антифроген Н">
				</div>
				<span class="section__slogan">в наличии!</span>
			</div>
			<div class="section__groups">
				<div class="section__usable">
					<span class="section__group-name">Область применения</span>
					<ul class="section__list">
						<li class="section__list-item">В системах отопления частых домов</li>
						<li class="section__list-item">В системах охлаждения</li>
						<li class="section__list-item">В тепловых насосах</li>
						<li class="section__list-item">Для солнечных коллекторов</li>
						<li class="section__list-item">Для контроля герметичности систем</li>
					</ul>
				</div>
				<div class="section__features">
					<span class="section__group-name">Характеристики</span>
					<ul class="section__list">
						<li class="section__list-item">Прозрачная жидкость бледно -желтого оттенка</li>
						<li class="section__list-item">На основе Моноэтиленгликоля концентрат</li>
						<li class="section__list-item">Упаковка п /эт канистры -22,3 кг (20 л)</li>
						<li class="section__list-item">Диапазон рабочих температур при непрерывной эксплуатации -40 ºС
							... +150 º С
						</li>
						<li class="section__list-item">Минимальная допустимая концентрация для применения - 20 об.%</li>
					</ul>
				</div>
				<div class="section__advantages">
					<span class="section__group-name">Преимущества</span>
					<ul class="section__list">
						<li class="section__list-item">Срок службы не менее 20 лет</li>
						<li class="section__list-item">Сохраняется гарантия на котел</li>
						<li class="section__list-item">Тройная защита (от замораживания, коррозии , отложений )</li>
						<li class="section__list-item">Самостоятельный выбор морозостойкости</li>
						<li class="section__list-item">Немецкое качество . Производство фирмы Clariant ( лидера
							прозводства спец. химии)
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer class="container section__footer">
		<div class="calculate section__calculate">
			<div class="calculate__imgbox">
				<img class="calculate__img" src="images/calculator.png" alt="Калькулятор">
			</div>
			<div class="calculate__layout">
				<span class="calculate__text">Сколько купить?</span>
				<a href="#calculator" class="button button--xl button--burgundy link">
					рассчитать
				</a>
			</div>
		</div>
		<div class="price section__price">
			<div class="price__row">
				<span class="price__text">Цена:</span>
				<div class="price__current-value">
					6 800 руб.
				</div>
			</div>
			<div class="price__old-value">
				7 100 руб.
			</div>
		</div>
		<div class="section__buy">
			<button id="button-checkout-n" type="button" class="button button--burgundy section__button">Купить</button>
		</div>
	</footer>
	<div id="modal-checkout-n" class="modal modal--l">
		<div class="modal__box">
			<div class="modal__inner">
				<header class="modal__header">
					<h2 class="title modal__title">Заявка</h2>
					<button class="button modal__close js-modal-close">close modal</button>
				</header>
				<div class="modal__content">
					<form class="form-checkout" method="get" action="#0">
						<label class="field field--icon form-checkout__row">
							<span class="field__hint calculator__liters-hint">Antifrogen® N</span>
							<input class="field__input" required>
						</label>
						<label class="field field--icon form-checkout__row">
							<span class="field__hint calculator__liters-hint">Дистилированная вода</span>
							<input class="field__input" required>
						</label>
						<label class="field field--icon form-checkout__row">
							<span class="field__hint calculator__liters-hint">ФИО</span>
							<input class="field__input" required>
						</label>
						<label class="field field--icon form-checkout__row">
							<span class="field__hint calculator__liters-hint">Телефон</span>
							<input class="field__input" required>
						</label>
						<div class="form-checkout__footer">
							<button class="button button--xl button--burgundy form-checkout__button">отправить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="antifrogen-l" class="section section--bg-gray section--bg-gray-bottom section--bg-sieve-burgundy">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-gray section__title section__title--bevel">Antifrogen® L</h2>
		</div>
	</header>
	<div class="container section__info">
		<h3 class="title title--xl section__subtitle">Антифроген® Л</h3>
		<div class="section__description">
			<span class="section__description-name">Описание</span>
			<p>
				Antifrogen ® L выполняет двойную функцию в качестве теплоносителя и охлаждающей жидкости. Это
				гарантирует, что
				водный раствор остается жидким при требуемой температуре рассола и защищает любые металлические
				компоненты в
				системе охлаждения от коррозии
			</p>
			<p id="description-aside-l" class="section__description-aside">
				Его антифриз действие основано
				на монопропиленгликоле , имеющего высокую температуру кипения - около 187 ° C,
				что предотвращает потери жидкости в результате испарения .
				Антифроген ® L представляет собой прозрачную жидкость ,тонированную синим
				цветом , для использования в качестве теплоносителя в тепловых насосах и в
				пищевой промышленности , например , на пивоваренных заводах , молокозаводах ,
				фабриках мороженого , холодильных складах и заводах по переработки рыбы .
				Продукт ингибирует без использования нитритов -, аминов, боратов-, силикатов и
				фосфатов.
			</p>
		</div>
		<button id="button-l" class="button section__description-button">Подробно</button>
		<div class="section__aside">
			<div class="section__product">
				<div class="section__imgbox">
					<img class="section__img" src="images/antifrogen-l.png" alt="Антифроген Л">
				</div>
				<span class="section__slogan">в наличии!</span>
			</div>
			<div class="section__groups">
				<div class="section__usable">
					<span class="section__group-name">Область применения</span>
					<ul class="section__list">
						<li class="section__list-item">В системах отопления частых домов</li>
						<li class="section__list-item">В системах кондиционирования</li>
						<li class="section__list-item">В тепловых насосах</li>
						<li class="section__list-item">Для солнечных коллекторов</li>
						<li class="section__list-item">В пищевой промышленности</li>
						<li class="section__list-item">В пожарных система</li>
					</ul>
				</div>
				<div class="section__features">
					<span class="section__group-name">Характеристики</span>
					<ul class="section__list">
						<li class="section__list-item">Прозрачная жидкость голубоватого цвета</li>
						<li class="section__list-item">На основе 1,2-монопропиленгликоля и антикоррозионных добавок.
							Концентрат
						</li>
						<li class="section__list-item">Упаковка п /эт канистры -21 кг(20 л)</li>
						<li class="section__list-item">Рекомендуемая постоянная температура использования :. От +5 до
							+95 ° С
						</li>
						<li class="section__list-item">Рекомендуемая концентрация использование : 1,5% об / об в воде
						</li>
					</ul>
				</div>
				<div class="section__advantages">
					<span class="section__group-name">Преимущества</span>
					<ul class="section__list">
						<li class="section__list-item">Срок службы не менее 20 лет</li>
						<li class="section__list-item">Экологически безопасный</li>
						<li class="section__list-item">Сохраняется гарантия на котел</li>
						<li class="section__list-item">Тройная защита (от замораживания, коррозии , отложений )</li>
						<li class="section__list-item">Самостоятельный выбор морозостойкости
						</li>
						<li class="section__list-item">Немецкое качество . Производство фирмы Clariant ( лидера
							прозводства спец . химии)
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer class="container section__footer">
		<div class="calculate section__calculate">
			<div class="calculate__imgbox">
				<img class="calculate__img" src="images/calculator.png" alt="Калькулятор">
			</div>
			<div class="calculate__layout">
				<span class="calculate__text">Сколько купить?</span>
				<a href="#calculator" class="button button--xl button--burgundy link">
					рассчитать
				</a>
			</div>
		</div>
		<div class="price section__price">
			<div class="price__row">
				<span class="price__text">Цена:</span>
				<div class="price__current-value">
					9 100 руб.
				</div>
			</div>
			<div class="price__old-value">
				9 500 руб.
			</div>
		</div>
		<div class="section__buy">
			<button id="button-checkout-l" class="button button--burgundy section__button" type="button">Купить</button>
		</div>
	</footer>
	<div id="modal-checkout-l" class="modal modal--l">
		<div class="modal__box">
			<div class="modal__inner">
				<header class="modal__header">
					<h2 class="title modal__title">Заявка</h2>
					<button class="button modal__close js-modal-close">close modal</button>
				</header>
				<div class="modal__content">
					<form class="form-checkout" method="get" action="#0">
						<label class="field field--icon form-checkout__row">
							<span class="field__hint calculator__liters-hint">Antifrogen® L</span>
							<input class="field__input" required>
						</label>
						<label class="field field--icon form-checkout__row">
							<span class="field__hint calculator__liters-hint">Дистилированная вода</span>
							<input class="field__input" required>
						</label>
						<label class="field field--icon form-checkout__row">
							<span class="field__hint calculator__liters-hint">ФИО</span>
							<input class="field__input" required>
						</label>
						<label class="field field--icon form-checkout__row">
							<span class="field__hint calculator__liters-hint">Телефон</span>
							<input class="field__input" required>
						</label>
						<div class="form-checkout__footer">
							<button class="button button--xl button--burgundy form-checkout__button">отправить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="protectogen" class="section section--bg-sieve-blue">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-white section__title section__title--bevel">Protectogen® C Aqua</h2>
		</div>
	</header>
	<div class="container section__info">
		<h3 class="title title--xl section__subtitle">Протектоген С Aqua</h3>
		<div class="section__description">
			<span class="section__description-name">Описание</span>
			<p>
				Protectogen – желтоватая , растворимая в воде жидкость , не содержащая гликоль, представляющая собой
				высокоэффективную комбинацию органических и неорганических солей для защиты от коррозии. Продукт
				ингибируется
				без использования нитритов, аминов, боратов, фосфатов и силикатов.
			</p>
			<p id="description-aside-protectogen" class="section__description-aside">
				Protectogen® C aqua поставляется в неразбавленном виде и должен всегда
				быть разбавлен водой . Концентрация Protectogen ® C aqua в воде должна быть
				2,0% об / об. Это означает , что 2,0 л Protectogen ® С aqua нужно добавить в 98,0 л
				воды. Вода , используемая для разбавления Protectogen ® C aqua не должна
				содержать не более 100 мг / кг (ppm) хлорида . Это следует иметь в виду ,
				особенно если системы содержат компоненты , изготовленные из алюминия
				или алюминиевых сплавов . Вода используемая для разбавления может
				иметь широкий диапазон жесткости – приемлема жесткость от 0 до 20 ° GH.
				Это означает , что в дополнение к полностью деионизированной воде , может
				быть использована обычная водопроводная вода.
			</p>
		</div>
		<button id="button-protectogen" class="button section__description-button">Подробно</button>
		<div class="section__aside">
			<div class="section__product">
				<div class="section__imgbox">
					<img class="section__img" src="images/protectogen®-aqua.png" alt="Протектоген С Aqua">
				</div>
				<span class="section__slogan">в наличии!</span>
			</div>
			<div class="section__groups">
				<div class="section__usable">
					<span class="section__group-name">Область применения</span>
					<ul class="section__list">
						<li class="section__list-item">В системах отопления частых домов</li>
						<li class="section__list-item">В системах охлаждения без антифризного эффекта</li>
					</ul>
				</div>
				<div class="section__features">
					<span class="section__group-name">Характеристики</span>
					<ul class="section__list">
						<li class="section__list-item">Желтоватая , растворимая в воде жидкость</li>
						<li class="section__list-item">Упаковка канистра 1,1 кг (1 л)т</li>
						<li class="section__list-item">Диапазон рабочих температур при непрерывной эксплуатации -25 ºС
							... +150 º С
						</li>
						<li class="section__list-item">Минимальная допустимая концентрация для применения - 25 об.%</li>
					</ul>
				</div>
				<div class="section__advantages">
					<span class="section__group-name">Преимущества</span>
					<ul class="section__list">
						<li class="section__list-item">Долговременная защита от коррозии</li>
						<li class="section__list-item">Сохраняется гарантия на котел</li>
						<li class="section__list-item">Немецкое качество . Производство фирмы Clariant (лидера
							прозводства спец. химии)
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer class="container section__footer">
		<div class="calculate section__calculate">
			<div class="calculate__imgbox">
				<img class="calculate__img" src="images/calculator.png" alt="Калькулятор">
			</div>
			<div class="calculate__layout">
				<span class="calculate__text">Сколько купить?</span>
				<a href="#calculator" class="button button--xl button--burgundy link">
					рассчитать
				</a>
			</div>
		</div>
		<div class="price section__price">
			<div class="price__row">
				<span class="price__text">Цена:</span>
				<div class="price__current-value">
					1 500 руб.
				</div>
			</div>
			<div class="price__old-value">
				1 700 руб.
			</div>
		</div>
		<div class="section__buy">
			<button id="button-checkout-protectogen" class="button button--burgundy section__button" type="button">
				Купить
			</button>
		</div>
	</footer>
	<div id="modal-checkout-protectogen" class="modal modal--l">
		<div class="modal__box">
			<div class="modal__inner">
				<header class="modal__header">
					<h2 class="title modal__title">Заявка</h2>
					<button class="button modal__close js-modal-close">close modal</button>
				</header>
				<div class="modal__content">
					<form class="form-checkout" method="get" action="#0">
						<label class="field field--icon form-checkout__row">
							<span class="field__hint calculator__liters-hint">Protectogen® C Aqua</span>
							<input class="field__input" required>
						</label>
						<label class="field field--icon form-checkout__row">
							<span class="field__hint calculator__liters-hint">ФИО</span>
							<input class="field__input" required>
						</label>
						<label class="field field--icon form-checkout__row">
							<span class="field__hint calculator__liters-hint">Телефон</span>
							<input class="field__input" required>
						</label>
						<div class="form-checkout__footer">
							<button class="button button--xl button--burgundy form-checkout__button">отправить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="water" class="section section--bg-gray section--bg-sieve-burgundy">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-gray section__title section__title--bevel">Дистиллированная вода</h2>
		</div>
	</header>
	<div class="container section__info">
		<div class="section__description">
			<span class="section__description-name">Описание</span>
			<p>
				Дистиллированная вода – это чистый продукт, очищенный от органических веществ, минеральных солей,
				аммиака,
				двуокиси углерода и других примесей, полученный путем обратного осмоса. Применяется в качестве
				растворителя в
				физических и химических лабораториях
			</p>
			<p id="description-aside-water" class="section__description-aside">
				Широкое применение дистиллированная вода находит в отопительных системах, в лазерном оборудовании, для
				разбавления антифризов,
				для приготовления электролита, а также в бытовых приборах.
				Дистиллированную воду предлагает компания «Энергохим», которая занимается производством и продажей
				востребованного продукта.
				Вода проходит двухступенчатую очистку и последующую дистилляцию на линиях оборудования OSMONICS Inc.
				Соответствует
				требованиям ГОСТ 28084-89. Степень чистоты продукта – более 99,5%. Его качество определяется
				электропроводимостью [менее 10-6сим
				(ом-1)] и сухим остатком (менее 0,1 мг при выпаривании 1 л).
			</p>
		</div>
		<button id="button-water" class="button section__description-button">Подробно</button>
		<div class="section__aside">
			<div class="section__product">
				<div class="section__imgbox">
					<img class="section__img" src="images/water.png" alt="Антифроген Л">
				</div>
				<span class="section__slogan">в наличии!</span>
			</div>
			<div class="section__group">
				<div class="price section__price">
					<div class="price__row">
						<span class="price__text">Цена:</span>
						<div class="price__current-value">
							400 руб.
						</div>
					</div>
					<div class="price__old-value">
						500 руб.
					</div>
				</div>
				<div class="section__buy">
					<button id="button-checkout-water" class="button button--burgundy section__button" type="button">
						Купить
					</button>
				</div>
			</div>
		</div>
	</div>
	<div id="modal-checkout-water" class="modal modal--l">
		<div class="modal__box">
			<div class="modal__inner">
				<header class="modal__header">
					<h2 class="title modal__title">Заявка</h2>
					<button class="button modal__close js-modal-close">close modal</button>
				</header>
				<div class="modal__content">
					<form class="form-checkout" method="get" action="#0">
						<label class="field field--icon form-checkout__row">
							<span class="field__hint calculator__liters-hint">Дистилированная вода</span>
							<input class="field__input" required>
						</label>
						<label class="field field--icon form-checkout__row">
							<span class="field__hint calculator__liters-hint">ФИО</span>
							<input class="field__input" required>
						</label>
						<label class="field field--icon form-checkout__row">
							<span class="field__hint calculator__liters-hint">Телефон</span>
							<input class="field__input" required>
						</label>
						<div class="form-checkout__footer">
							<button class="button button--xl button--burgundy form-checkout__button">отправить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="calculator" class="section section--bg-blue calculator">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-white  section__title">Калькулятор</h2>
		</div>
	</header>
	<div class="container calculator__info">
		<form class="form" method="get" action="#0">
			<div class="form__row">
				<label class="field field--icon">
					<span class="field__hint calculator__product-hint">
						<span class="field__hint-main">Продукт</span>
						<span class="field__hint-aside">(Выберите один продукт)</span>
					</span>
					<label class="toggle toggle--checkbox calculator__checkbox">
						<input class="toggle__input" type="radio" name="radio" value="antifrigen-n" checked="">
						<span class="toggle__label">Антифроген Н</span>
					</label>
					<label class="toggle toggle--checkbox calculator__checkbox">
						<input class="toggle__input" type="radio" value="antifrigen-l" name="radio">
						<span class="toggle__label">Антифроген Л</span>
					</label>
				</label>
			</div>
			<div class="form__row">
				<label class="field field--icon">
					<span class="field__hint calculator__liters-hint">
						<span class="field__hint-main">Сколько литров в системе</span>
						<span class="field__hint-aside">(Если не знаете, как посчитать - звоните или оставьте заявку)</span>
					</span>
					<input class="js-field-liter field__input" placeholder="Укажите литры" required>
				</label>
			</div>
			<div class="form__row">
				<label class="field field--icon">
					<span class="field__hint calculator__temperature-hint">
						<span class="field__hint-main">Желаемая морозостойкость</span>
						<span class="field__hint-aside">(Укажите температуру)</span>
					</span>
					<input class="js-field-degree field__input" placeholder="Укажите градусы" required>
				</label>
			</div>
			<a href="#booking" class="js-button-calculate link button button--xl button--burgundy calculator__button"
			   type="button">
				рассчитать
			</a>
			<div class="form form__checkout">
				<div class="form__row">
					<label class="field field--icon">
					<span class="field__hint">
						<span class="field__hint-main">Необходимо Антифроген Н / Антифроген Л</span>
					</span>
						<input id="liters-antifrogen" class="field__input" placeholder="Результаты рассчёта в литрах"
							   readonly required>
						<input id="canister-antifrogen" class="field__input"
							   placeholder="Результаты рассчёта в канистрах" readonly required>
					</label>
				</div>
				<div id="booking" class="form__row">
					<label class="field field--icon">
					<span class="field__hint">
						<span class="field__hint-main">Необходимо Дистилированной воды</span>
					</span>
						<input id="liters-water" class="field__input" placeholder="Результаты рассчёта в литрах"
							   readonly required>
						<input id="canister-water" class="field__input" placeholder="Результаты рассчёта в литрах"
							   readonly required>
					</label>
				</div>
				<button id="button-checkout" type="button"
						class="button button--xl button--burgundy calculator__submit">
					оформить заказ
				</button>
			</div>
		</form>
		<div id="modal-checkout" class="modal modal--l">
			<div class="modal__box">
				<div class="modal__inner">
					<header class="modal__header">
						<h2 class="title modal__title">Заявка</h2>
						<button class="button modal__close js-modal-close">close modal</button>
					</header>
					<div id="form-checkout" class="modal__content">
						<form class="form-checkout" method="post" action="sendmail.php">
							<label class="field field--icon form-checkout__row">
								<span id="form-checkout-hint" class="field__hint"></span>
								<input id="form-checkout-antifrogen" class="js-field-liter field__input" required>
							</label>
							<label class="field field--icon form-checkout__row">
								<span class="field__hint">Дистилированная вода</span>
								<input id="form-checkout-water" class="js-field-liter field__input" required>
							</label>
							<label class="field field--icon form-checkout__row">
								<span class="field__hint">ФИО</span>
								<input name="calculate-fio" class="js-field-liter field__input" required>
							</label>
							<label class="field field--icon form-checkout__row">
								<span class="field__hint">Телефон</span>
								<input name="calculate-phone" class="js-field-liter field__input" required>
							</label>
							<div class="form-checkout__footer">
								<button class="button button--xl button--burgundy form-checkout__button">отправить
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="modal-faq" class="modal">
	<div class="modal__box">
		<div class="modal__inner">
			<header class="modal__header">
				<button class="button modal__close js-modal-close">close modal</button>
			</header>
			<div class="modal__content">
				<p>
					Вопрос: Кто производитель Antifrogen®?
				</p>
				<p>
					Ответ: Компания Clariant – всемирно известный лидер на рынке
					специализированных химических продуктов.
				</p>
				<p>
					Вопрос: Когда и для чего Вам нужны жидкие теплоносители - Antifrogen®?
				</p>
				<p>
					Ответ: Теплоносители - Antifrogen® применяются, когда необходимо защитить отопительную систему от
					змораживания,
					применить коррозионную защиту основного и вспомогательного оборудования, а также от отложений на
					стенках
					трубопроводов, теплообменников, стенок котла и т.д.
				</p>
				<p>
					Вопрос: Какие продукты Antifrogen® предназначены для применения в отопительных системах ?
				</p>
				<p>
					Ответ: Специально разработанные продукты: Antifrogen® N – на основе моноэтиленгликоля, Antifrogen®L-
					на основе монопропиленгликоля.
				</p>
				<p>
					Вопрос: Какой теплоноситель можно использовать в двух контурных котлах?
				</p>
				<p>
					Ответ: Предпочтительно использовать Antifrogen® L – на основе монопропиленгликоля (пищевая добавка,
					фармакопейного качества).
				</p>
				<p>
					Вопрос: Для каких отопительных котлов можно применять теплоносители Antifrogen®?
				</p>
				<p>
					Ответ: Официально одобрены для применения в котлах Viessmann, Buderus, Bosch, Junkers
				</p>
				<p>
					Вопрос: Нужно ли разводить Antifrogen®?
				</p>
				<p>
					Ответ: Так как продукты Antifrogen® - концентраты (без воды более 90% основного вещества - МЭГ или
					МПГ ), то в зависимости от необходимой морозостойкости разводятся водопроводной водой. Соотношение
					Antifrogen® / вода можно посмотреть в технической документации на продукт (Antifrogen L, Antifrogen
					N).
				</p>
				<p>
					Вопрос: Какую воду нужно применять для разведения Antifrogen®?
				</p>
				<p>
					Ответ: Дистиллированная вода –это идеальный вариант , но продукты Antifrogen® специально разработаны
					, чтобы не ограничивать потребителя по данному признаку. Поэтому можно применять обычную
					водопроводную воду с жесткостью не более 8,7 мг*экв/л и содержание хлоридов не более 100 мг/кг.
					Данные по этим требование можно запросить у местного водоканала или в паспорте на скважину.
				</p>
				<p>
					Вопрос : Какой температурный диапазон применения для данных продуктов ?
				</p>
				<p>
					Ответ: Antifrogen®L – от минус 50 до +150 град. С (мах.180град.С)
					Antifrogen®N – от минус 70 до +150 град. С.( мах.180град.С)
				</p>
			</div>
		</div>
	</div>
</div>
<section id="delivery" class="section delivery section--bg-burgundy">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-gray  section__title">Доставка</h2>
		</div>
	</header>
	<div class="container delivery__info">
		<ul class="delivery__list">
			<li class="delivery__list-item">
				<span class="delivery__location">Москва</span>
				<span class="delivery__price">(Запад, Юг) - 500 рублей</span>
			</li>
			<li class="delivery__list-item">
				<span class="delivery__location">Москва</span>
				<span class="delivery__price">(Север, Восток) - 700 рублей</span>
			</li>
			<li class="delivery__list-item">
				<span class="delivery__location">Московская область</span>
				<span class="delivery__price">- 700 рублей + 20 рублей км</span>
			</li>
			<li class="delivery__list-item">
				Самовывоз - бесплатно
			</li>
			<li class="delivery__list-item">
				<span class="delivery__location">Доставка в регионы</span>
				<span class="delivery__price">- по тарифу транспортной компании</span>
			</li>
		</ul>
	</div>
</section>
<section id="payment" class="section section--bg-blue payment">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-white section__title">Способы оплаты</h2>
		</div>
	</header>
	<div class="container payment__info">
		<ul class="payment__list">
			<li class="payment__list-item payment__cash">
				<span class="payment__method">Первый способ</span>
				<span class="payment__type">Оплата при получении наличными</span>
			</li>
			<li class="payment__list-item payment__account">
				<span class="payment__method">Второй способ</span>
				<span class="payment__type">Оплаты по счету</span>
			</li>
			<li class="payment__list-item payment__card">
				<span class="payment__method">Третий способ</span>
				<span class="payment__type">Оплата банковской картой</span>
			</li>
		</ul>
		<div class="payment__imgbox">
			<img class="payment__img" src="images/cards.png" alt="Новый способ оплаты - банковские карты">
		</div>
	</div>
</section>
<div class="recommendation recommendation--bg-burgundy">
	<header class="recommendation__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-white recommendation__title">Антифроген рекомендуют</h2>
		</div>
	</header>
	<div class="container recommendation__brands">
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/budrus.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/watts.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/tece.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/viesman.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/grota.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/tiemme.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/reflex.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/varmann.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/thermaflex.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/vogel.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/frankische.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/meibes.png" alt="Будрус">
		</div>
	</div>
</div>
<section class="section section--bg-burgundy reviews">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-white section__title">Отзывы</h2>
		</div>
	</header>
	<div class="container reviews__groups">
		<div class="reviews__group">
			<div class="reviews__imgbox">
				<img class="reviews__img" src="images/person-1.png" alt="изображение человека">
			</div>
			<div class="reviews__group-info">
				<span class="reviews__group-name">
					Степан Еремин
				</span>
				<span class="reviews__group-opinion">
					Спасибо, я всем доволен.
					Буду рекомендовать вас
					своим друзьям
				</span>
			</div>
		</div>
		<div class="reviews__group">
			<div class="reviews__imgbox">
				<img class="reviews__img" src="images/person-2.png" alt="изображение человека">
			</div>
			<div class="reviews__group-info">
				<span class="reviews__group-name">
					Константин Костин
				</span>
				<span class="reviews__group-opinion">
					Мне все сделали за 7 дней,
					как и обещалось в договоре.
					Отлично! Так держать!
				</span>
			</div>
		</div>
		<div class="reviews__group">
			<div class="reviews__imgbox">
				<img class="reviews__img" src="images/person-3.png" alt="изображение человека">
			</div>
			<div class="reviews__group-info">
				<span class="reviews__group-name">
					Артур Шридрих
				</span>
				<span class="reviews__group-opinion">
					В моем доме теперь
					ОООЧЕЕНЬ ТЕПЛО.
					Очень признателен Вам!
				</span>
			</div>
		</div>
		<div class="reviews__group">
			<div class="reviews__imgbox">
				<img class="reviews__img" src="images/person-4.png" alt="изображение человека">
			</div>
			<div class="reviews__group-info">
				<span class="reviews__group-name">
					Михали Досаев
				</span>
				<span class="reviews__group-opinion">
					Спасибо!
					Я ценю профессионалов.
					Рекомундую
				</span>
			</div>
		</div>
		<div class="reviews__group">
			<div class="reviews__imgbox">
				<img class="reviews__img" src="images/person-5.png" alt="изображение человека">
			</div>
			<div class="reviews__group-info">
				<span class="reviews__group-name">
					Гарик Анукян
				</span>
				<span class="reviews__group-opinion">
					Так держать мужики!
					С меня ящик водки))
				</span>
			</div>
		</div>
		<div class="reviews__group">
			<div class="reviews__imgbox">
				<img class="reviews__img" src="images/person-6.png" alt="изображение человека">
			</div>
			<div class="reviews__group-info">
				<span class="reviews__group-name">
					Регина Дуева
				</span>
				<span class="reviews__group-opinion">
					Моя мама просто в восторге.
					Вы решили целую проблему
					в нашей семье.
				</span>
			</div>
		</div>
	</div>
</section>
<div id="contacts" class="map">
	<script type="text/javascript" charset="utf-8" async
			src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1df7c45658516f39a48e6ac1bf793de60f1d7e8cf8628a7de89b25ecc47f9979&amp;width=100%25&amp;height=553&amp;lang=ru_RU&amp;scroll=true; myMap.behaviors.disable('scrollZoom');"></script>
</div>
{% endblock %}