{% extends "src/njc/layout.njc" %}
{% block content %}
<div class="preview">
	<div class="container preview__container">
		<header class="preview__header">
			<div class="logo">
				<div class="logo__imgbox">
					<img class="logo__img" src="images/logo.png" alt="Логотип Атмосферы тепла">
				</div>
				<span class="logo__name">
					Атмосфера тепла
				</span>
			</div>
			<div class="preview__phone">
				+7 (495) 765-21-31
			</div>
		</header>
		<div class="preview__info">
			<h1 class="title title--xxl">
				Antifrogen® - ваша система отопления
				достойна лучшего теплоносителя
			</h1>
			<div class="preview__description">
				<p>
					Cрок службы 20 лет, немецкое качество,
					экономичность, сохраняется гарантия на Ваш котел
				</p>
			</div>
		</div>
		<div class="preview__footer">
			<button class="button button--xxl button--blue">
				участвуй в акции
			</button>
			<span class="preview__footer-slogan">
				Каждый 100-й покупатель получает купон в магазин «ИКЕА» на 5000 рублей.
				Купи Антифроген и участвуй в акции!
			</span>
		</div>
	</div>
</div>
<section id="antifrogen-n" class="section section--bg-sieve-blue">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-white section__title section__title--bevel">Antifrogen® N</h2>
		</div>
	</header>
	<div class="container section__info">
		<h3 class="title title--xl section__subtitle">Антифроген® Н</h3>
		<div class="section__description">
			<span class="section__description-name">Описание</span>
			<p>
				Антифроген ® N представляет собой жидкость , бледно -жёлтого оттенка ; предназначен для использования в
				качестве
				теплоносителя в закрытых системах водяного отопления , тепловых насосах и как охлаждающий рассол в
				промышленном
				холодильном оборудовании Antifrogen® N был разработан для использования в качестве теплоносителя и
				охлаждающей
				жидкости.
			</p>
		</div>
		<a class="link section__anchor" href="#0">Далее</a>
		<div class="section__aside">
			<div class="section__product">
				<div class="section__imgbox">
					<img class="section__img" src="images/antifrogen-n.png" alt="Антифроген Н">
				</div>
				<span class="section__slogan">в наличии!</span>
			</div>
			<div class="section__groups">
				<div class="section__usable">
					<span class="section__group-name">Область применения</span>
					<ul class="section__list">
						<li class="section__list-item">В системах отопления частых домов</li>
						<li class="section__list-item">В системах охлаждения</li>
						<li class="section__list-item">В тепловых насосах</li>
						<li class="section__list-item">Для солнечных коллекторов</li>
						<li class="section__list-item">Для контроля герметичности систем</li>
					</ul>
				</div>
				<div class="section__features">
					<span class="section__group-name">Характеристики</span>
					<ul class="section__list">
						<li class="section__list-item">Прозрачная жидкость бледно -желтого оттенка</li>
						<li class="section__list-item">На основе Моноэтиленгликоля концентрат</li>
						<li class="section__list-item">Упаковка п /эт канистры -22,3 кг (20 л)</li>
						<li class="section__list-item">Диапазон рабочих температур при непрерывной эксплуатации -40 ºС
							... +150 º С
						</li>
						<li class="section__list-item">Минимальная допустимая концентрация для применения - 20 об.%</li>
					</ul>
				</div>
				<div class="section__advantages">
					<span class="section__group-name">Преимущества</span>
					<ul class="section__list">
						<li class="section__list-item">Срок службы не менее 20 лет</li>
						<li class="section__list-item">Сохраняется гарантия на котел</li>
						<li class="section__list-item">Тройная защита (от замораживания, коррозии , отложений )</li>
						<li class="section__list-item">Самостоятельный выбор морозостойкости</li>
						<li class="section__list-item">Немецкое качество . Производство фирмы Clariant ( лидера
							прозводства спец. химии)
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer class="container section__footer">
		<div class="calculate section__calculate">
			<div class="calculate__imgbox">
				<img class="calculate__img" src="images/calculator.png" alt="Калькулятор">
			</div>
			<div class="calculate__layout">
				<span class="calculate__text">Сколько купить?</span>
				<button class="button button--xl button--burgundy">
					рассчитать
				</button>
			</div>
		</div>
		<div class="price section__price">
			<div class="price__row">
				<span class="price__text">Цена:</span>
				<div class="price__current-value">
					6 700
				</div>
			</div>
			<div class="price__old-value">
				7 100
			</div>
		</div>
		<div class="section__buy">
			<button class="button button--burgundy section__button">Купить</button>
		</div>
	</footer>
</section>
<section id="antifrogen-l" class="section section--bg-gray section--bg-gray-bottom section--bg-sieve-burgundy">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-gray section__title section__title--bevel">Antifrogen® L</h2>
		</div>
	</header>
	<div class="container section__info">
		<h3 class="title title--xl section__subtitle">Антифроген® Л</h3>
		<div class="section__description">
			<span class="section__description-name">Описание</span>
			<p>
				Antifrogen ® L выполняет двойную функцию в качестве теплоносителя и охлаждающей жидкости. Это
				гарантирует, что
				водный раствор остается жидким при требуемой температуре рассола и защищает любые металлические
				компоненты в
				системе охлаждения от коррозии
			</p>
		</div>
		<a class="link section__anchor" href="#0">Далее</a>
		<div class="section__aside">
			<div class="section__product">
				<div class="section__imgbox">
					<img class="section__img" src="images/antifrogen-l.png" alt="Антифроген Л">
				</div>
				<span class="section__slogan">в наличии!</span>
			</div>
			<div class="section__groups">
				<div class="section__usable">
					<span class="section__group-name">Область применения</span>
					<ul class="section__list">
						<li class="section__list-item">В системах отопления частых домов</li>
						<li class="section__list-item">В системах кондиционирования</li>
						<li class="section__list-item">В тепловых насосах</li>
						<li class="section__list-item">Для солнечных коллекторов</li>
						<li class="section__list-item">В пищевой промышленности</li>
						<li class="section__list-item">В пожарных система</li>
					</ul>
				</div>
				<div class="section__features">
					<span class="section__group-name">Характеристики</span>
					<ul class="section__list">
						<li class="section__list-item">Прозрачная жидкость голубоватого цвета</li>
						<li class="section__list-item">На основе 1,2-монопропиленгликоля и антикоррозионных добавок.
							Концентрат
						</li>
						<li class="section__list-item">Упаковка п /эт канистры -21 кг(20 л)</li>
						<li class="section__list-item">Рекомендуемая постоянная температура использования :. От +5 до
							+95 ° С
						</li>
						<li class="section__list-item">Рекомендуемая концентрация использование : 1,5% об / об в воде
						</li>
					</ul>
				</div>
				<div class="section__advantages">
					<span class="section__group-name">Преимущества</span>
					<ul class="section__list">
						<li class="section__list-item">Срок службы не менее 20 лет</li>
						<li class="section__list-item">Экологически безопасный</li>
						<li class="section__list-item">Сохраняется гарантия на котел</li>
						<li class="section__list-item">Тройная защита (от замораживания, коррозии , отложений )</li>
						<li class="section__list-item">Самостоятельный выбор морозостойкости
						</li>
						<li class="section__list-item">Немецкое качество . Производство фирмы Clariant ( лидера
							прозводства спец . химии)
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer class="container section__footer">
		<div class="calculate section__calculate">
			<div class="calculate__imgbox">
				<img class="calculate__img" src="images/calculator.png" alt="Калькулятор">
			</div>
			<div class="calculate__layout">
				<span class="calculate__text">Сколько купить?</span>
				<button class="button button--xl button--burgundy">
					рассчитать
				</button>
			</div>
		</div>
		<div class="price section__price">
			<div class="price__row">
				<span class="price__text">Цена:</span>
				<div class="price__current-value">
					9 000
				</div>
			</div>
			<div class="price__old-value">
				9 500
			</div>
		</div>
		<div class="section__buy">
			<button class="button button--burgundy section__button">Купить</button>
		</div>
	</footer>
</section>
<section id="protagen" class="section section--bg-sieve-blue">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-white section__title section__title--bevel">Protectogen® C Aqua</h2>
		</div>
	</header>
	<div class="container section__info">
		<h3 class="title title--xl section__subtitle">Протектоген С Aqua</h3>
		<div class="section__description">
			<span class="section__description-name">Описание</span>
			<p>
				Protectogen – желтоватая , растворимая в воде жидкость , не содержащая гликоль, представляющая собой
				высокоэффективную комбинацию органических и неорганических солей для защиты от коррозии. Продукт
				ингибируется
				без использования нитритов, аминов, боратов, фосфатов и силикатов.
			</p>
		</div>
		<a class="link section__anchor" href="#0">Далее</a>
		<div class="section__aside">
			<div class="section__product">
				<div class="section__imgbox">
					<img class="section__img" src="images/protectogen®-aqua.png" alt="Протектоген С Aqua">
				</div>
				<span class="section__slogan">в наличии!</span>
			</div>
			<div class="section__groups">
				<div class="section__usable">
					<span class="section__group-name">Область применения</span>
					<ul class="section__list">
						<li class="section__list-item">В системах отопления частых домов</li>
						<li class="section__list-item">В системах охлаждения без антифризного эффекта</li>
					</ul>
				</div>
				<div class="section__features">
					<span class="section__group-name">Характеристики</span>
					<ul class="section__list">
						<li class="section__list-item">Желтоватая , растворимая в воде жидкость</li>
						<li class="section__list-item">Упаковка канистра 1,1 кг (1 л)т</li>
						<li class="section__list-item">Диапазон рабочих температур при непрерывной эксплуатации -25 ºС
							... +150 º С
						</li>
						<li class="section__list-item">Минимальная допустимая концентрация для применения - 25 об.%</li>
					</ul>
				</div>
				<div class="section__advantages">
					<span class="section__group-name">Преимущества</span>
					<ul class="section__list">
						<li class="section__list-item">Долговременная защита от коррозии</li>
						<li class="section__list-item">Сохраняется гарантия на котел</li>
						<li class="section__list-item">Немецкое качество . Производство фирмы Clariant (лидера
							прозводства спец. химии)
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer class="container section__footer">
		<div class="calculate section__calculate">
			<div class="calculate__imgbox">
				<img class="calculate__img" src="images/calculator.png" alt="Калькулятор">
			</div>
			<div class="calculate__layout">
				<span class="calculate__text">Сколько купить?</span>
				<button class="button button--xl button--burgundy">
					рассчитать
				</button>
			</div>
		</div>
		<div class="price section__price">
			<div class="price__row">
				<span class="price__text">Цена:</span>
				<div class="price__current-value">
					1 500
				</div>
			</div>
			<div class="price__old-value">
				1 700
			</div>
		</div>
		<div class="section__buy">
			<button class="button button--burgundy section__button">Купить</button>
		</div>
	</footer>
</section>
<section class="section section--bg-gray section--bg-sieve-burgundy">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-gray section__title section__title--bevel">Дистиллированная вода</h2>
		</div>
	</header>
	<div class="container section__info">
		<div class="section__description">
			<span class="section__description-name">Описание</span>
			<p>
				Дистиллированная вода – это чистый продукт, очищенный от органических веществ, минеральных солей,
				аммиака,
				двуокиси углерода и других примесей, полученный путем обратного осмоса. Применяется в качестве
				растворителя в
				физических и химических лабораториях
			</p>
		</div>
		<a class="link section__anchor" href="#0">Далее</a>
		<div class="section__aside">
			<div class="section__product">
				<div class="section__imgbox">
					<img class="section__img" src="images/water.png" alt="Антифроген Л">
				</div>
				<span class="section__slogan">в наличии!</span>
			</div>
			<div class="section__group">
				<div class="price section__price">
					<div class="price__row">
						<span class="price__text">Цена:</span>
						<div class="price__current-value">
							400
						</div>
					</div>
					<div class="price__old-value">
						500
					</div>
				</div>
				<div class="section__buy">
					<button class="button button--burgundy section__button">Купить</button>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="calculator" class="section section--bg-blue">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-white  section__title">Калькулятор</h2>
		</div>
	</header>
	<div class="container section__info">

	</div>
</section>
<section id="delivery" class="section delivery section--bg-burgundy">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-gray  section__title">Доставка</h2>
		</div>
	</header>
	<div class="container delivery__info">
		<ul class="delivery__list">
			<li class="delivery__list-item">
				<span class="delivery__location">Москва</span>
				<span class="delivery__price">(Запад, Юг) - 500 рублей</span>
			</li>
			<li class="delivery__list-item">
				<span class="delivery__location">Москва</span>
				<span class="delivery__price">(Север, Восток) - 700 рублей</span>
			</li>
			<li class="delivery__list-item">
				<span class="delivery__location">Московская область</span>
				<span class="delivery__price">- 700 рублей + 20 рублей км</span>
			</li>
			<li class="delivery__list-item">
				Самовывоз - бесплатно
			</li>
			<li class="delivery__list-item">
				<span class="delivery__location">Доставка в регионы</span>
				<span class="delivery__price">- по тарифу транспортной компании</span>
			</li>
		</ul>
	</div>
</section>
<section id="payment" class="section section--bg-blue payment">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-white section__title">Способы оплаты</h2>
		</div>
	</header>
	<div class="container payment__info">
		<ul class="payment__list">
			<li class="payment__list-item payment__cash">
				<span class="payment__method">Первый способ</span>
				<span class="payment__type">Оплата при получении наличными</span>
			</li>
			<li class="payment__list-item payment__account">
				<span class="payment__method">Второй способ</span>
				<span class="payment__type">Оплаты по счету</span>
			</li>
			<li class="payment__list-item payment__card">
				<span class="payment__method">Третий способ</span>
				<span class="payment__type">Оплата банковской картой</span>
			</li>
		</ul>
		<div class="payment__imgbox">
			<img class="payment__img" src="images/cards.png" alt="Новый способ оплаты - банковские карты">
		</div>
	</div>
</section>
<div class="recommendation recommendation--bg-burgundy">
	<header class="recommendation__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-white recommendation__title">Антифроген рекомендуют</h2>
		</div>
	</header>
	<div class="container recommendation__brands">
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/budrus.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/watts.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/tece.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/viesman.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/grota.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/tiemme.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/reflex.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/varmann.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/thermaflex.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/vogel.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/frankische.png" alt="Будрус">
		</div>
		<div class="recommendation__brand">
			<img class="recommendation__img" src="images/meibes.png" alt="Будрус">
		</div>
	</div>
</div>
<section class="section section--bg-burgundy reviews">
	<header class="section__header">
		<div class="container">
			<h2 class="title title--xxl title--bg-white section__title">Отзывы</h2>
		</div>
	</header>
	<div class="container reviews__groups">
		<div class="reviews__group">
			<div class="reviews__imgbox">
				<img class="reviews__img" src="images/person-1.png" alt="изображение человека">
			</div>
			<div class="reviews__group-info">
				<span class="reviews__group-name">
					Степан Еремин
				</span>
				<span class="reviews__group-opinion">
					Спасибо, я всем доволен.
					Буду рекомендовать вас
					своим друзьям
				</span>
			</div>
		</div>
		<div class="reviews__group">
			<div class="reviews__imgbox">
				<img class="reviews__img" src="images/person-2.png" alt="изображение человека">
			</div>
			<div class="reviews__group-info">
				<span class="reviews__group-name">
					Константин Костин
				</span>
				<span class="reviews__group-opinion">
					Мне все сделали за 7 дней,
					как и обещалось в договоре.
					Отлично! Так держать!
				</span>
			</div>
		</div>
		<div class="reviews__group">
			<div class="reviews__imgbox">
				<img class="reviews__img" src="images/person-3.png" alt="изображение человека">
			</div>
			<div class="reviews__group-info">
				<span class="reviews__group-name">
					Артур Шридрих
				</span>
				<span class="reviews__group-opinion">
					В моем доме теперь
					ОООЧЕЕНЬ ТЕПЛО.
					Очень признателен Вам!
				</span>
			</div>
		</div>
		<div class="reviews__group">
			<div class="reviews__imgbox">
				<img class="reviews__img" src="images/person-4.png" alt="изображение человека">
			</div>
			<div class="reviews__group-info">
				<span class="reviews__group-name">
					Михали Досаев
				</span>
				<span class="reviews__group-opinion">
					Спасибо!
					Я ценю профессионалов.
					Рекомундую
				</span>
			</div>
		</div>
		<div class="reviews__group">
			<div class="reviews__imgbox">
				<img class="reviews__img" src="images/person-5.png" alt="изображение человека">
			</div>
			<div class="reviews__group-info">
				<span class="reviews__group-name">
					Гарик Анукян
				</span>
				<span class="reviews__group-opinion">
					Так держать мужики!
					С меня ящик водки))
				</span>
			</div>
		</div>
		<div class="reviews__group">
			<div class="reviews__imgbox">
				<img class="reviews__img" src="images/person-6.png" alt="изображение человека">
			</div>
			<div class="reviews__group-info">
				<span class="reviews__group-name">
					Регина Дуева
				</span>
				<span class="reviews__group-opinion">
					Моя мама просто в восторге.
					Вы решили целую проблему
					в нашей семье.
				</span>
			</div>
		</div>
	</div>
</section>
<div id="contacts" class="map">
	<script type="text/javascript" charset="utf-8" async
			src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1df7c45658516f39a48e6ac1bf793de60f1d7e8cf8628a7de89b25ecc47f9979&amp;width=100%25&amp;height=553&amp;lang=ru_RU&amp;scroll=true; myMap.behaviors.disable('scrollZoom');"></script>
</div>
{% endblock %}