{% extends "src/njc/layout.njc" %}
{% block content %}
<div class="preview">
	<div class="container preview__container">
		<header class="preview__header">
			<div class="logo">
				<div class="logo__imgbox">
					<img class="logo__img" src="../../images/logo.png" alt="Логотип Атмосферы тепла">
				</div>
				<span class="logo__name">
					Атмосфера тепла
				</span>
			</div>
			<div class="preview__phone">
				+7 (495) 765-21-31
			</div>
		</header>
		<div class="preview__info">
			<h1 class="title title--xxl">
				Antifrogen® - ваша система отопления
				достойна лучшего теплоносителя
			</h1>
			<div class="preview__description">
				<p>
					Cрок службы 20 лет, немецкое качество,
					экономичность, сохраняется гарантия на Ваш котел
				</p>
			</div>
			<div class="preview__footer">
				<button class="button button--middle">
					участвй в акции
				</button>
				<span class="preview__footer-slogan">
					Каждый 100-й покупатель получает купон в магазин «ИКЕА» на 5000 рублей.
					Купи Антифроген и участвуй в акции!
				</span>
			</div>
		</div>
	</div>
</div>
{% endblock %}