@import "../variables";

@keyframes opacity {
	from { opacity: .7; }
	to { opacity: 1; }
}

.button {
	border: none;
	background-color: transparent;
	padding: 0;
	font-family: inherit;
	cursor: pointer;

	&--xl {
		padding: 1rem 2.9rem;
		border-radius: 40px;
		font-size: 2rem;
		text-transform: uppercase;
	}

	&--xxl {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		border-radius: 40px;
		font-weight: 600;
		text-transform: uppercase;
	}

	&--blue {
		background-color: $blue;
		color: $white;
		box-shadow: inset 0 -30px 50px -3px #1D94B7;
		transition: background-color .3s,
		box-shadow .3s;

		&:hover, &:focus {
			background-color: $burgundy;
			box-shadow: inset 0 30px 50px -3px #E8207A;

		}
	}

	&--burgundy{
		background-color: $burgundy;
		color: $white;
		box-shadow: inset 0 30px 50px -3px #E8207A;
		transition: background-color .3s,
					box-shadow .3s;

		&:hover, &:focus {
			background-color: $blue;
			box-shadow: inset 0 -30px 50px -3px #1D94B7;
		}
	}
}

@media (max-width: 600px) {

	.button--xxl {
		padding-left: 2.7rem;
		padding-right: 2.7rem;
		font-size: 2rem;
	}
}

@media (min-width: 601px) {

	.button--xxl {
		padding-left: 6.7rem;
		padding-right: 6.7rem;
		font-size: 3rem;
	}
}
