@import "../variables";

.calculator {
	position: relative;
}

@media (min-width: 851px) {

	.calculator:before {
		content: "";
		position: absolute;
		top: -10rem;
		right: 0;
		width: 29rem;
		height: 28rem;
		background: url("../images/calculator-big.png") no-repeat;
		background-size: 100% 100%;
	}
}

.calculator__info {
	margin-top: 13rem;
}

//.calculator__product-hint {
//	margin-right: 40rem;
//}
//
//.calculator__liters-hint {
//	margin-right: 9.7rem;
//}
//
//.calculator__temperature-hint {
//	margin-right: 37.5rem;
//}

@media (max-width: 850px) {

	.calculator__checkbox {
		margin-top: 2rem;
	}
}

@media (min-width: 851px) {

	.calculator__checkbox:not(:last-child) {
		margin-right: 10rem;
	}
}

.calculator__button, .calculator__submit {
	margin-top: 8rem;
}