@import "../variables";


@media (min-width: 1476px) {

	.container {
		max-width: 1476px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1380px) and (max-width: 1475px) {

	.container {
		max-width: 1380px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 1379px) {

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}