@import "../variables";

.delivery {
	position: relative;
	background: #F5F4F6;
}

@media (min-width: 600px) {

	.delivery:after {
		content: "";
		position: absolute;
		right: 0;
		background: url("../images/car.png") no-repeat;
		background-size: 100% 100%;
	}

	.delivery__list {
		width: 40%;
	}
}

@media (min-width: 1024px) {

	.delivery:after {
		top: 0;
		width: 60%;
		height: 90%;
	}

	.delivery__info {
		padding-top: 14rem;
		padding-bottom: 18rem;
	}
}

@media (min-width: 600px) and (max-width: 1023px) {

	.delivery:after {
		top: 50%;
		transform: translateY(-50%);
		width: 50%;
		height: 60%;
	}
}

@media (max-width: 1023px) {

	.delivery__info {
		padding-top: 7rem;
		padding-bottom: 7rem;
	}
}

.delivery__list {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.delivery__list-item {
	position: relative;
	padding-left: 5rem;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		border: 6px solid #E6E6E6;
	}
}

.delivery__list-item:not(:last-child) {
	margin-bottom: 2.3rem;
}

.delivery__location {
	display: block;
}