@import "../variables";

.form-checkout {
	max-width: 666px;
	margin-left: auto;
	margin-right: auto
}

.form-checkout__row:not(:first-child) {
	margin-top: 4.5rem;
}

.form-checkout--action {
	.form-checkout__row {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	input {
		width: 100%;
	}
}

.form-checkout__footer {
	margin-top: 4.5rem;
	text-align: center;
}

.form-checkout__button {
	text-transform: uppercase;
}