@import"../variables";

.header {
	background-color: $blue;
	width: 100%;
}

@media (max-width: 1026px) {

	.header__container{
		padding-top: 5px;
		//padding-bottom: 1rem;
	}
}

@media (min-width: 1027px) {

	.header {
		position: fixed;
		z-index: 999;
	}
}