@import "../variables";

.section:not(:first-of-type) {
	margin-top: 15.3rem;
}

.section {

	&--bg-gray {
		padding-top: 13rem;
		background-color: #F5F4F6;
		position: relative;

		&:before {
			content: "";
			width: 100%;
			height: 13rem;
			position: absolute;
			background-color: #F5F4F6;
			z-index: 2;
			top: 0;
			transform-origin: left bottom;
			transform: skewY(-3deg);
		}
	}

	&--bg-gray-bottom {
		padding-bottom: 13rem;

		&:after {
			content: "";
			width: 100%;
			height: 13rem;
			position: absolute;
			background-color: #F5F4F6;
			z-index: 2;
			bottom: 0;
			transform-origin: left bottom;
			transform: skewY(3deg);
		}
	}
}

.section__header {
	background-size: cover;
}

@media (min-width: 650px) {

	.section--bg-sieve-burgundy {
		.section__header {
			background-image: url("../images/burgundy-bg.png");
		}
	}

	.section--bg-sieve-blue {
		.section__header {
			background-image: url("../images/blue-bg.png");
		}
	}

	.section__title--bevel {

		&:before {
			content: "";
			position: absolute;
			right: 100%;
			top: 0;
			width: 3.5rem;
			height: 100%;
			background-color: inherit;
			transform-origin: right bottom;
			transform: skewX(-28deg);
		}

		&:after {
			content: "";
			position: absolute;
			left: calc(99% - 3.5rem);
			top: 0;
			width: 3.5rem;
			height: 100%;
			background-color: inherit;
			transform-origin: right bottom;
			transform: skewX(-28deg);
		}
	}
}

.section--bg-blue {
	.section__header {
		background: linear-gradient(to bottom, $blue, #1D94B7) no-repeat;
		background-size: 100% 14px;
		background-position-y: 60%;
	}
}

.section--bg-burgundy {
	.section__header {
		background: linear-gradient(to top, $burgundy, #E8207A) no-repeat;
		background-size: 100% 14px;
		background-position-y: 60%;
	}
}

.section__title {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	padding-left: 3rem;
	padding-right: 3rem;
}

.section__subtitle {
	padding-left: 2.5rem;
	font-weight: 400;
	color: $gray;
}

.section__description {
	margin-top: 8.6rem;
	padding-left: 7.6rem;
	background: url("../images/description-bg.png") 0 0 no-repeat;
}

.section__description-aside {
	display: none;

	&--active {
		display: block;
	}
}

.section__description-button{
	margin-top: 5.3rem;
	padding-left: 7.6rem;
	padding-top: 1.7rem;
	padding-bottom: 1.7rem;
	font-size: 1.7rem;
	background: url("../images/anchor-bg.png") 0 50% no-repeat;
	color: $gray;
}

@media (min-width: 935px) {

	.section__aside {
		margin-top: 8.4rem;
		display: flex;
	}

	.section__product {
		align-self: flex-end;
	}

	.section__slogan {
		margin-top: 6.3rem;
	}

	.section__groups {
		margin-left: 5.7rem;
	}
}

@media (max-width: 934px) {

	.section__product {
		text-align: center;
	}

	.section__groups {
		margin-top: 3rem;
	}
}

.section__imgbox {
	display: inline-block;
	max-width: 360px;
}

.section__slogan {
	display: block;
	text-align: center;
	font-size: 3.6rem;
}

.section__usable {
	padding-left: 7.6rem;
	background: url("../images/hand-bg.png") 0 0 no-repeat;
}

.section__list {
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: decimal;
}

.section__features {
	margin-top: 3.5rem;
	padding-left: 7.6rem;
	background: url("../images/rows.png") 0 25% no-repeat;
}

.section__advantages {
	margin-top: 3.5rem;
	padding-left: 7.6rem;
	background: url("../images/excellent.png") 0 50% no-repeat;
}

.section__footer {
	display: flex;
	flex-wrap: wrap;
	margin-top: 7.1rem;
}

.section__button {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 40px;
	font-size: 3rem;
	text-transform: uppercase;
}

@media (max-width: 671px) {

	.section__button {
		margin-top: 2rem;
	}

}

@media (max-width: 1027px) {

	.section__footer {
		justify-content: space-between;
	}

	.section__button {
		padding-left: 2.9rem;
		padding-right: 2.9rem;
	}
}

@media (min-width: 1028px) {

	.section__calculate {
		margin-right: 11.3rem;
	}

	.section__price {
		margin-right: 5.3rem;
	}

	.section__button {
		padding-left: 8.7rem;
		padding-right: 8.7rem;
	}
}

.section__group {
	display: flex;
	align-self: center;
	margin-left: 5.7rem;
}