@import "../variables";

.title {
	margin-top: 0;
	margin-bottom: 0;
}

.title--xxl {
	font-size: 5.7rem;
}

.title--xl {
	font-size: 3.2rem;
}

.title--bg-white {
	background-color: $white;
}

.title--bg-gray {
	background-color: #F5F4F6;
}